<!-- <div class="ui inverted vertical masthead center aligned segment" style="min-height: 150px;"> -->
<!-- Following Menu -->
<div class="ui large top fixed hidden menu inverted blue">
  <div class="ui container">
    <a class="open-sidebar view-ui toc item"  style="border:none;">
        MENU&nbsp;<i class="fa fa-arrow-right"></i> 
    </a>
    {if="$co==0"}
    <div class="right menu">
      <div class="item">
        <a class="ui button fade animated black inverted login_button">
          <div class="visible content">
            Se connecter
          </div>
          <div class="hidden content">
            <i class="fa fa-check"></i>
          </div>
        </a>
      </div>
      <div class="item">
        <a class="ui button fade animated black inverted register_button">
          <div class="visible content">
            S'inscrire
          </div>
          <div class="hidden content">
            <i class="fa fa-check"></i>
          </div>
        </a>
      </div>
    </div>
    {else}
    <div class="right menu">
      <div class="item">
        <a class="ui button disabled fade animated black inverted login_button">
          <div class="visible content">
            {$nom_complet}
          </div>
          <div class="hidden content">
            <i class="fa fa-check"></i>
          </div>
        </a>
      </div>
  </div>
  {/if}
</div>
</div>



<!-- Sidebar Menu -->
<div class="ui vertical sidebar labeled icon menu">
  <a class="item" href="../index.php">
    <div class="icon"><i class="fa fa-home"></i></div>
    Accueil
  </a>
  <a class="active item">
    <div class="icon"><i class="fa fa-search"></i></div>
    Stages
  </a>
  <a class="item" >
    <div class="icon"><i class="fa fa-pie-chart"></i></div>
    Overview
  </a>
  <a class="item">
    <div class="icon"><i class="fa fa-sitemap"></i></div>
    Reseaux
  </a>
  <a class="item" href="suivi.php">
    <div class="icon"><i class="fa fa-bell-o"></i></div>
    Suivi des candidatures
  </a>
  <a class="item" href="profil.php">
    <div class="icon"><i class="fa fa-child"></i></div>
    Profile
  </a>
  <a class="item">
    <div class="icon"><i class="fa fa-cogs"></i></div>
    Settings
  </a>
</div>


<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment" style="min-height: 150px;">

    <div class="ui container">
      <div class="ui secondary large inverted pointing menu">

        <!--
        <a class="active item">Home</a>
        <a class="item">Work</a>
        <a class="item">Company</a>
        <a class="item">Careers</a>
        -->
        <a class="ui inverted open-sidebar view-ui item">
          MENU&nbsp;<i class="fa fa-arrow-right"></i> 
        </a>
        {if="$co==0"}
        <div class="right item">
          <a class="ui inverted fade animated black button login_button">
            <div class="visible content">
              Connexion
            </div>
            <div class="hidden content">
              <i class="fa fa-check"></i>
            </div>
          </a>
          <a class="ui inverted fade animated black button register_button">
            <div class="visible content">
              Inscription
            </div>
            <div class="hidden content">
              <i class="fa fa-check"></i>
            </div>
          </a>
        </div>
        {else}
        <div class="right item">
          <a class="ui inverted basic disabled fade animated black button login_button">
            <div class="visible content">
              {$nom_complet}
            </div>
            <div class="hidden content">
              <i class="fa fa-check"></i>
            </div>
          </a>
        </div>
        {/if}

      </div>
    </div>